/* Banner Component Styles */
.banner {
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 1rem !important;
    margin-bottom: 3rem;
    
    
}

.banner-text {
    white-space: nowrap;
    animation: bannerScroll 25s linear infinite;
}
.banner-text {
    font-weight: 600; 
    color: white; 
    text-align: center; 
    margin-right: 50px;
    top: -30px; 
    left: 50%;
    transform: translateX(-50%);
    
}

.emily {
    font-family: "Montserrat", sans-serif !important;
    color: transparent; 
    -webkit-text-stroke: 0.6px #ffffff; 
    font-weight:600;
    font-size: 70px !important;    
}

.sepulveda {
    font-family: "Montserrat", sans-serif !important;
    color: #ffffff44;
    font-weight: 900;
    letter-spacing: -1.5px;
    font-size: 66px; 
    
}



/* Responsive design para el Banner */
@media (max-width: 768px) {
    .banner { height: 100px; padding: 1.5rem 1rem; }
    .banner-text { font-size: 48px; }
}

@media (max-width: 480px) {
    .banner { height: 80px; padding: 1rem 0.5rem; }
    .banner-text { font-size: 36px; }
}
